*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10% 15%;
}
.container{
    margin: 0;
    display: flex;
    flex-direction: row;
    border: 2px blue solid;
    width: 70vw;   
}
.log form{
    min-width: 25vw;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    padding: 0.8rem 0.2rem ;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow:1px 3px 6px #c4c1c1, 0 -3px 6px #c4c1c1; /*codepen three sides*/
}
.log  input{
    height: 50px;
    margin: 7px;
    padding: 6px;
    border: 1px solid rgb(219, 214, 214); 
    border-radius: 5px;
    background-color: #ffffff;
}
.log button{
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
.log .login{
    height:50px;
    background-color: #4267B2;
    color: white;
    margin: 7px;
    border: none;
    border-radius: 7px;
    box-shadow: 0 1px 1px rgb(168, 153, 153);
}
.log .createAcc{
    background-color: rgb(12, 180, 12);
    height: 49px;
    color: white;
    width: 50%;
    border-radius: 7px;
    margin-top: 10px;
    border: none;
    align-self: center;
    box-shadow: 0 1px 1px rgb(168, 153, 153);  
}
.log  a.forgotten-password {
    margin: 13px;
    text-align: center;
    padding-bottom:10px;
    box-shadow: 0 1px 1px rgb(211, 199, 199);
    color:#3b5892;
    text-decoration: none;
    background-color:  #ffffff;
    cursor: pointer;
}
.log  h4 {
    background-color: #ffffff;
}
.login:hover{
    background-color:#3b5892;
}
.createAcc:hover{
    background-color:  rgb(21, 151, 21);
}
.log h4:hover{
    text-decoration: underline;
}

.log .form-text{
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 1.2rem;
    overflow: hidden;
    max-block-size: initial;
}
.form-text a {
    text-decoration: none;
    color: black;
}
.form-text p{
    padding-top: 2px;
}
.welcome_text{ 
    font-size: 1.3rem;
    height: 30%;   
    margin: 2.5rem 2.7rem;
    padding:1rem 1.5rem;
}
.welcome_text h1{
    color:#4267B2;
    font-family: Arial, Helvetica, sans-serif;
}
.welcome_text p{
    font-family: Arial, Helvetica, sans-serif;
    padding: 6px 0;
}/*
@media screen and (min-width:500px) and (max-width:800px){
   /* .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .container form{
        margin: 0;
    }

    .form-text{
        font-size: 0.6rem;
    }
    .welcome_text{
        font-size: 1rem;
        line-height: 1rem;
        padding: 0;
        margin: 0;
    }
    .welcome_text h1{
        text-align: center;
        margin-bottom: 1.2rem;
    }
    .welcome_text p{
        text-align: center;
        padding: 0;
    }
    .log button{
        padding: 0.5rem;
        font-size: 0.9rem;
    }


*/
@media  screen and (max-width:800px) and (min-width:300px){
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        margin: 2rem 0;
    }
    .welcome_text{
        min-width:100%;
        min-height: initial;
        border: red 2px solid;
        border: green1px solid;
        font-size: 0.9rem;
        text-align: center;
        padding:  0;
        margin: 0.8rem 0;
    }  
    .welcome_text p{
        text-align: center;
    }
    .log {
        padding: 0;
        margin: 0;
        border: 2px green solid;
        min-width: 100%;
    }
    .log form{
        
    }
    .log button{
        font-size: 0.8rem;
        overflow: hidden;
    }
    .log .createAcc{
        padding: 1rem;
    }
    
}