*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10% 5%;
}
.container{
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 100vw;   
}
.log form{
    min-width: 30vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    padding: 0.8rem 0.2rem ;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow:1px 3px 6px #c4c1c1, 0 -3px 6px #c4c1c1; /*codepen three sides*/
}
.log  input{
    height: 50px;
    margin: 7px;
    padding: 6px;
    border: 1px solid rgb(219, 214, 214); 
    border-radius: 5px;
    background-color: #ffffff;
}
.log button{
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
.log .login{
    height:50px;
    background-color: #4267B2;
    color: white;
    margin: 7px;
    border: none;
    border-radius: 7px;
    box-shadow: 0 1px 1px rgb(168, 153, 153);
}
.log .createAcc{
    background-color: rgb(12, 180, 12);
    height: 49px;
    color: white;
    width: 50%;
    border-radius: 7px;
    margin-top: 10px;
    border: none;
    align-self: center;
    box-shadow: 0 1px 1px rgb(168, 153, 153);  
}
.log  a.forgotten-password {
    margin: 13px;
    text-align: center;
    padding-bottom:10px;
    box-shadow: 0 1px 1px rgb(211, 199, 199);
    color:#3b5892;
    text-decoration: none;
    background-color:  #ffffff;
    cursor: pointer;
}
.log  h4 {
    background-color: #ffffff;
}
.login:hover{
    background-color:#3b5892;
}
.createAcc:hover{
    background-color:  rgb(21, 151, 21);
}
.log h4:hover{
    text-decoration: underline;
}

.log .form-text{
    font-size: 0.8rem;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    overflow: hidden;
    
}
.form-text a {
    text-decoration: none;
    color: black;
}
.form-text p{
    padding-top: 2px;
}
.form-text a:hover{
    text-decoration: underline;
}
.welcome_text{ 
    font-size: 1.3rem;
    height: 30%;   
    width: 700px;
    margin: 2.5rem 2rem;
    padding:0.3rem 1rem;
}
.welcome_text h1{
    color:#4267B2;
    font-family: Arial, Helvetica, sans-serif;
}
.welcome_text p{
    font-family: Arial, Helvetica, sans-serif;
    padding: 6px 0;
}

@media  screen and (max-width:700px) and (min-width:500px){
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 1rem;
        margin: 2rem 0;
    }
    .welcome_text{
        min-width:100%;
        min-height: initial;
        font-size: 0.8rem;
        text-align: center;
        padding:  0;
        margin:  1.25rem 0;
    }  
    .welcome_text p{
        text-align: center;
    }
    .log {
        padding: 0;
        margin: 0;
        min-width: 100%;
    }
    .log form{
        min-width: 100%;
        padding:0.5rem 0;
        margin:0 0.5rem;
    }
    .log button{
        min-height: 30px;
        font-size: 0.8rem;
        overflow: hidden;
    }
    .log .createAcc{
        padding:0 0.6rem;
    }
    
}

@media screen  and (min-width:700px) and (max-width:1200px){
    .container{
        width: 100vw;
        display: flex;
        justify-content: space-evenly;
        padding: 1rem 0;
    }
    .log form{
        max-width:50vw;
        height: initial;
    }
    .log button  .createAcc{
        font-size: 1rem;
    }
    .welcome_text{
        font-size: 1rem;
        height: 10vh;
        width: auto;
    }
    .form-text{
        font-size: 0.3rem;

    }
    
}

